<div class="card">
  <a href="/dashboard/edit/{{id}}">
    <header class="card-header">
      <span class="post-title">{{title}}</span>
      <span class="post-creator">{{format_date date_created}}</span>
    </header>
  </a>
</div>