<div class="card">
  <a href="#">
    <header class="card-header">
      <span class="post-title">{{title}}</span>
      <span class="post-creator">Posted by {{user.username}} on {{format_date date_created}}</span>
    </header>
    <div class="card-content">
      {{content}}
    </div>
  </a>
</div>