<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="topnav">
      <a href="/"><h3>The Tech Blog</h3></a>
      <a href="#">Dashboard</a>
      <div class="topnav-right">
        {{#if loggedIn}}
        <a href="#" id="logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </div>
    </div>
  </header>
  
  {{{body}}}
  
</body>
</html>