<section class="main-section">
  <div class="card">
    <div class="card-header">
      <h2>Edit post</h2>
    </div>
    <form class="edit-post-form">
      <div class="form-group">
        <label for="edit-post-title">Title</label>
        <input class="form-input" type="text" id="edit-post-title" value="{{post.title}}"/>
      </div>
      <div class="form-group">
        <textarea id="edit-post-content" name="edit-post-content">{{post.content}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save changes</button>
        <button class="btn btn-delete" id="delete-post-btn">Delete</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>