<section class="main-section">
  <h3>{{post.title}}</h3>
  <h5>Posted by {{post.user.username}} on {{format_date post.date_created}}</h5>
  <div class="post-content">{{post.content}}</div>
  <hr>
  <h4>Comments</h4>
  {{#if logged_in}}
  <div class="new-comment">
    <form class="comment-form">
      <div class="form-group">
        <textarea id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
      </div>
    </form>
  </div>
  {{/if}}
  {{> comments post.comments}}
</section>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}