:root {
  --light: #FAF3DD;
  --dark: #604D53;
  --light-green: #C8D5B9;
  --dark-green: #517664;
  --accent: #ED7D3A;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.topnav {
  background-color: var(--dark-green);
  display: flex;
  align-items: flex-end;
}

.topnav h3 {
  padding: 0;
  margin: 0;
  color: var(--accent);
}

.topnav a {
  float: left;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: var(--light-green);
  color: var(--dark);
}

.topnav-right {
  margin-left: auto;
}

#post-feed {
  margin: 1em auto;
  margin-top: 2em;
  max-width: 80%;
}

#post-feed h3 {
  margin: 1em;
  font-size: 1.5em;
}

.card {
  border: solid;
  border-radius: 8px;
  border-color: var(--light-green);
  margin:1em;
}

.card-header {
  background-color: var(--light-green);
  color: var(--dark);
  padding: 1em;
  align-items: bottom;
}

.post-title {
  font-size: 1em;
  font-weight: bold;
}

.post-creator {
  font-size: 0.8em;
  float: right;
}

.card-content {
  font-size: 0.8em;
  padding: 1em;
  color: var(--dark);
}

.login-options {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 80vh;
  margin: auto;
  align-items: center;
}

.login-card .card-header h2 {
  margin: 0;
}

.login-form, .signup-form {
  margin: 3em;
}

.form-group {
  margin: 1em;
}

.btn-primary {
  background-color: var(--accent);
  border: none;
  color: var(--light);
  padding: .8em;
  font-weight: bold;
  font-size: 1em;
  border-radius: 8px;
}

.form-group .btn {
  background-color: var(--accent);
  border: none;
  color: var(--light);
  display: block;
  margin: auto;
  padding: .8em 1.5em;
}